/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--db-dark);
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    margin: auto;
}

li {
    list-style-type: none;
}

p {
    font-size: 14px;
    line-height: 1.5rem;
}

h1{
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    margin-bottom: 0.8rem;
}

.btn {
    background-color: var(--db-btn);
    color: var(--db-light);
    border: none;
    padding: 0.5rem;
}

.btn_light {
    background-color: var(--db-light);
    padding: 0.5rem;
    border: none;
}

/* #endregion common */

/* #region utility */
:root {
    --db-dark: #000000;
    --db-light: #FFFFFF;
    --db-dark-lite: grey;
    --db-btn: #0061FF;
    --db-bg-lite: #B4D0E7;
    --db-txt-bg-light: #63082B;
    --db-bg-designit: #A2D39B;
    --db-bg-asu: #61082B;
    --db-bg-uf: #0093CE;
    --db-bg-toops: #FF1C1C;
    --db-bg-wbr: #D5001F;
    --db-bg-hearst: #B4D0E7;
    --db-bg-lonely: #0D2481;
    --db-bg-clear-channel: #FFD830;
}

.w_70 {
    width: 70%;
    margin: auto;
}

.w_60 {
    width: 60%;
    margin: auto;
}

.w_fluid {
    width: 100%;
    margin: auto;
}

.d_flex {
    display: flex;
}

.d_wrap {
    flex-wrap: wrap;
}

.clerafix::after {
    content: '';
    display: table;
    clear: both;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

/* #endregion utility */

/* #region debug */
.debug {
    border: 1px dashed green;
}

.debug .col-4{
    border: 1px dashed blue;
}

/* #endregion debug */

/* #region header */
#site_header {
    background-color: var(--db-light);
    /*     width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0; */
}

.container_nav {
    justify-content: space-between;
    padding: 0.5rem;
}

nav li {
    padding: 0 0.5rem;
}

/* #endregion header */

/* #region main-jumbotron */
main {
    margin-top: 10vh;
}

h1 {
    font-size: 3rem;
    padding-top: 1.5rem;
}

.jumbotron {
    background-color: var(--db-bg-lite);
    height: ;
}

.container_jumbotron {
    padding: 2rem 0;
}

.caption_jumbotron p {
    margin-bottom: 1.5rem;
}

.jumbotron .btn {
    padding: 0.5rem 0.5rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.jumbotron i {
    font-size: 2rem;
}

/* #endregion main-jumbotron */

/* #region main-piani business */
.piani_business {
    margin-top: 2rem;
}

.piani_business h2,
.container_check_box {
    margin-bottom: 2rem;
}

.container_check_box {
    gap: 1rem;
}

.mensile {
    margin-right: 1rem;
}

.mensile i {
    color: var(--db-btn);
}

.annuale i {
    color: var(--db-dark-lite);
}

.piani_card {
    justify-content: space-between;
    align-items: stretch;
}

.card {
    width: calc(100% / 12 * 4 - 2rem);
    border: 1px solid var(--db-dark-lite);
}

.title_card {
    border-bottom: 1px solid var(--db-dark-lite);
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.piani_business i {
    margin-right: 0.25rem;
}

.description_card {
    justify-content: center;
    text-align: left;
    padding: 1rem 1rem;
}

.card .service,
.card .cta,
.card .punti_salienti {
    font-size: 0.8rem;
}

.card .pricing div {
    color: var(--db-dark-lite);
    font-size: 0.8rem;
    margin-top: 0.1rem;
}

.card .service {
    margin: 3rem 0;
}

.card .service div {
    margin: 0.5rem 0;
}

.card .cta {
    padding: 0.5rem 0;
}

.card .btn {
    width: 100%;
    margin-bottom: 1rem;
}

.card hr {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 25%;
    color: var(--db-dark-lite);
}

.card .punti_salienti h4,
.card .punti_salienti li {
    margin: 1rem 0;
}

.card .punti_salienti i {
    color: var(--db-btn);
}

/* #endregion main-piani business */

/* #region main-enterprise */
.enterprise {
    border: 1px solid var(--db-dark-lite);
    margin-top: 3rem;
}

.enterprise_container {
    padding: 1rem 1rem;
}

.enterprise_btn {
    text-align: right;
}

.enterprise_btn .btn {
    width: 80%;
}

.enterprise h5 {
    margin-bottom: 2rem;
}

/* #endregion main-enterprise */

/* #region main-partner */
.container_partner {
    margin-top: 3rem;
}

.partner_description {
    padding: 2rem;
}

.container_partner .btn_light{
    border: 1px solid var(--db-dark);
}

.container_partner p{
    margin-bottom: 2rem;
}
/* #endregion main-partner */

/* #region main-operation */
.operation{
    margin: 5rem 0;
}

.operation h2{
    text-align: center;
    margin-bottom: 1.5rem;
}

.container_operation{
    flex-wrap: wrap;
}

/* #endregion main-operation */
