/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--db-dark);
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    margin: auto;
}

li {
    list-style-type: none;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.btn {
    background-color: var(--db-btn);
    color: var(--db-light);
    border: none;
}

.btn.light {
    background-color: var(--db-light);
}

/* #endregion common */

/* #region utility */
:root {
    --db-btn: #0061FF;
    --db-bg-lite: #B4D0E7;
    --db-dark: #000000;
    --db-light: #FFFFFF;
    --db-txt-bg-light: #63082B;
    --db-bg-designit: #A2D39B;
    --db-bg-asu: #61082B;
    --db-bg-uf: #0093CE;
    --db-bg-toops: #FF1C1C;
    --db-bg-wbr: #D5001F;
    --db-bg-hearst: #B4D0E7;
    --db-bg-lonely: #0D2481;
    --db-bg-clear-channel: #FFD830;
}

.w_70 {
    width: 70%;
    margin: auto;
}

.w_60 {
    width: 80%;
    margin: auto;
}

.w_fluid {
    width: 100%;
    margin: auto;
}

.d_flex {
    display: flex;
}

.d_wrap {
    flex-wrap: wrap;
}

.clerafix::after {
    content: '';
    display: table;
    clear: both;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

/* #endregion utility */

/* #region debug */
.debug {
    border: 1px dashed green;
}

.debug .jumbotron {
    background-color: #0061FF;
}

.debug .w_70 {
    background-color: lightblue;
}

/* #endregion debug */

/* #region header */
#site_header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--db-bg-lite);
}

.container_nav {
    justify-content: space-between;
    padding: 0.5rem;
}

nav li {
    padding: 0 0.5rem;
}

/* #endregion header */

/* #region main-jumbotron */
main {
    margin-top: 10vh;
}

h1{
    font-size: 3rem;
    padding-top: 1.5rem;
}

.container_jumbotron {
    padding: 2rem 0;
}

.caption_jumbotron p{
    margin-bottom: 1.5rem;
}

.jumbotron .btn{
    padding: 0.5rem 0.5rem;

}

/* #endregion main-jumbotron */